<section class="section section_timeline experience">
	<h2 class="section__title">Опыт</h2>

	<div class="section__main">

		<div class="section__row">
			<h3 class="section__mnote">2014 — настоящее&nbsp;время</h3>
			<div class="section__cnt">
				<strong>Front-end разработчик</strong> в Boommy.ru

				<p class="section__list-title">Должностные обязанности:</p>
				<ul class="section__list">
					<li>Работа над фронтендом boommy.ru</li>
					<li>Оптимизация и автоматизация фронтенда</li>
				</ul>

				<p class="section__list-title">Достижения:</p>
				<ul class="section__list">
					<li>Внедрение методологии БЭМ</li>
				</ul>

			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">2011 — 2014</h3>
			<div class="section__cnt">
				<strong>Ведущий Front-end разработчик</strong> в ООО "ТриДаВинчи"

				<p class="section__list-title">Должностные обязанности:</p>
				<ul class="section__list">
					<li>Руководство отделом front-end разработки</li>
					<li>Адаптивная верстка с использованием подходов graceful degradation и progressive enhancement</li>
					<li>Написание JavaScript кода</li>
					<li>Разработка jQuery плагинов</li>
					<li>Оптимизация фронтенда</li>
				</ul>

				<p class="section__list-title">Достижения:</p>
				<ul class="section__list">
					<li>Построение отдела front-end разработки</li>
					<li>Переход от XHTML/CSS2.1 к HTML5/CSS3 в 2011 году</li>
					<li>Внедрение методологии БЭМ</li>
					<li>Автоматизация фронтенда (препроцессоры, сборщики)</li>
					<li>Внедрение bem-tools: BEMJSON, BEMHTML, i-bem.js </li>
					<li>Внедрение в рабочий процесс Git Feature Branch Workflow</li>
				</ul>

			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">2010 — 2013</h3>
			<div class="section__cnt">
				<strong>Ведущий программист</strong> в ООО "ТриДаВинчи"

				<p class="section__list-title">Должностные обязанности:</p>
				<ul class="section__list">
					<li>Проектирование и разработка сайтов</li>
					<li>Техническое руководство проектами</li>
					<li>Разработка модулей для CMS NetCat</li>
					<li>Руководство и обучение стажеров</li>
				</ul>

				<p class="section__list-title">Достижения:</p>
				<ul class="section__list">
					<li>Внедрение Git (раньше использовался SVN только для одного внутреннего проекта)</li>
				</ul>
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">2010</h3>
			<div class="section__cnt">
				<strong>Программист-стажер</strong> в ООО "ТриДаВинчи"

				<p class="section__list-title">Должностные обязанности:</p>
				<ul class="section__list">
					<li>Разработка компонентов для CMS NetCat</li>
					<li>Верстка сайтов</li>
				</ul>
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">2009 — 2010</h3>
			<div class="section__cnt">
				<strong>Лаборант технических средств обучения</strong> в ГУО "Узденская средняя школа №2 имени Кондрата Крапивы"
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">2008 — 2009</h3>
			<div class="section__cnt">
				<strong>Техник-электроник</strong> в УП "Текстильторг"
			</div>
		</div>

	</div>
		
</section>