<section class="personal detail">
	<h2>Личные данные</h2>

	<dl>
		<dt>Имя</dt>
		<dd>Павел Чайковский</dd>
		<dt>Дата рождения</dt>
		<dd>21 января 1991 года</dd>
		<dt>Адрес</dt>
		<dd>г. Минск, пр-т Пушкина</dd>
		<dt>Гражданство</dt>
		<dd>Беларусь</dd>
		<dt>Статус</dt>
		<dd>Доступен для найма</dd>
	</dl>
</section>

<section class="personal contacts">
	<h2>Контакты</h2>

	<dl>
		<dt>E-Mail</dt>
		<dd>
			<a href="mailto:pavel.tchaikovsky@gmail.com" 
			   class="contacts__link contacts__link_mail">pavel.tchaikovsky@gmail.com</a>
		</dd>
		<dt>Skype</dt>
		<dd>
			<a href="skype:chayn1k?call" 
			   class="contacts__link contacts__link_skype">chayn1k</a>
		</dd>
		<dt>Телефон</dt>
		<dd>
			<a href="tel:+375259070515" 
			   class="contacts__link contacts__link_phone">+375 25 9070515</a>
		</dd>
		<dt>LinkedIn</dt>
		<dd>
			<a href="http://linkedin.com/pub/pavel-tchaikovsky/49/566/b64/" 
			   class="contacts__link contacts__link_linkedin">Pavel Tchaikovsky</a>
		</dd>
	</dl>
</section>
