<section class="section skills">
	<h2 class="section__title">Навыки</h2>

	<div class="section__main">
		<div class="section__row">
			<h3 class="section__mnote">Разметка</h3>
			<div class="section__cnt">
				HTML, Markdown, BEMJSON/BEMHTML, Slim, Jade
			</div>
		</div>
		
		<div class="section__row">
			<h3 class="section__mnote">Скрипты</h3>
			<div class="section__cnt">
				JavaScript, jQuery, i-bem.js, Underscore
			</div>
		</div>
		
		<div class="section__row">
			<h3 class="section__mnote">Стили</h3>
			<div class="section__cnt">
				CSS, Stylus, Less
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">Бэкенд</h3>
			<div class="section__cnt">
				PHP
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">VCS</h3>
			<div class="section__cnt">
				Git, Svn
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">Автоматизация</h3>
			<div class="section__cnt">
				Grunt, Gulp, bem-tools
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">Базы данных</h3>
			<div class="section__cnt">
				MySQL
			</div>
		</div>

		<div class="section__row">
			<h3 class="section__mnote">Дополнительно</h3>
			<div class="section__cnt">
				Photoshop, LAMP, Nginx
			</div>
		</div>
	</div>
		
</section>