
<!--[if lt IE 9]>
	<script type="text/javascript" src="assets/js/vendor/legacy/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]>
	<script type="text/javascript" src="assets/js/vendor/jquery.min.js"></script>
<![endif]-->
<!--[if !IE]><!-->
	<script type="text/javascript" src="assets/js/vendor/jquery.min.js"></script>
<!--<![endif]-->

<!-- check: !production -->
	<script type="text/javascript" src="assets/js/vendor/jquery.easing.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
<!-- endcheck -->
<!-- check: !development -->
	<script type="text/javascript" src="js/vendor.min.js"></script>
	<script type="text/javascript" src="js/main.min.js"></script>
<!-- endcheck -->