
// font family
$ff_Arial       = Arial, "Helvetica Neue", Helvetica, sans-serif
$ff_ArialNarrow = "Arial Narrow", Arial, sans-serif
$ff_Georgia     = Georgia, Times, "Times New Roman", serif
$ff_Tahoma      = Tahoma, Geneva, sans-serif
$ff_Cuprum      = Cuprum, 'Trebuchet MS', 'PT Sans Narrow', PTSansNarrowRegular, sans-serif


// font size
$fz_bigger      = 20px
$fz_default     = 18px
$fz_smaller     = 16px


// color
$c_default      = #000
$c_light        = #2c3e50
$c_dark         = #bdc3c7
$c_highlight    = #f06205
$c_highlight    = #0393d9

$c__link        = $c_highlight
$c__link_hover  = lightness($c_highlight, 30%)
$c__link_active = lightness($c_highlight, -30%)


// default indent size
$indent         = 20px


// grid
$columns        = 12
$gutter_width   = $indent * 2	


// marginal note width
$mnote_w        = 150px
$mnote_bdw      = 2px